<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import Contacts from '@/Components/Contacts.vue';
import Search from '@/Components/Search.vue';
import ChatHeader from '@/Components/ChatHeader.vue';

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Chats
            </h2>
        </template>

        <div class="py-12">

            <div class="flex max-h-screen max-w-7xl mx-auto sm:px-6 lg:px-8">
                <!-- Sidebar -->
                <div class="w-1/4 bg-white p-4 overflow-y-auto" style="max-height: calc(80vh - 4rem);">
                    <!-- Profile section -->
                    <div class="flex items-center space-x-4 mb-4">
                        <img src="../../../public/image/01.jpg" alt="Profile" class="w-12 h-12 rounded-full">
                        <div>
                            <p class="font-bold">Your Name</p>
                            <p class="text-sm text-green-600">Active now</p>
                        </div>
                    </div>


                    <!-- Search bar with icon -->
                    <div class="mb-4 relative">
                        <input type="text" placeholder="Search users..." class="w-full border rounded-md pl-10 pr-4 py-2">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>

                        </span>
                    </div>

                    <!-- Chat list -->
                    <div>
                        <!-- Sample chat item -->
                        <div class="flex items-center space-x-4 mb-3 relative">
                            <!-- Profile image with online status indicator -->
                            <div class="relative">
                                <img src="../../../public/image/01.jpg" alt="Contact" class="w-12 h-12 rounded-full">
                                <!-- Online status indicator -->
                                <div
                                    class="absolute bottom-0 right-0 rounded-full bg-green-500 border-2 border-white w-4 h-4">
                                </div>
                            </div>

                            <div>
                                <p class="font-bold">Contact Name</p>
                                <p class="text-sm text-gray-600">Last message</p>
                            </div>
                        </div>

                        <!-- More chat items... -->

                        <div class="flex items-center space-x-4 mb-3 relative">
                            <!-- Profile image with online status indicator -->
                            <div class="relative">
                                <img src="../../../public/image/01.jpg" alt="Contact" class="w-12 h-12 rounded-full">
                                <!-- Online status indicator -->
                                <div
                                    class="absolute bottom-0 right-0 rounded-full bg-green-500 border-2 border-white w-4 h-4">
                                </div>
                            </div>

                            <div>
                                <p class="font-bold">Contact Name</p>
                                <p class="text-sm text-gray-600">Last message</p>
                            </div>
                        </div>
                        <div class="flex items-center space-x-4 mb-3 relative">
                            <!-- Profile image with online status indicator -->
                            <div class="relative">
                                <img src="../../../public/image/01.jpg" alt="Contact" class="w-12 h-12 rounded-full">
                                <!-- Online status indicator -->
                                <div
                                    class="absolute bottom-0 right-0 rounded-full bg-green-500 border-2 border-white w-4 h-4">
                                </div>
                            </div>

                            <div>
                                <p class="font-bold">Contact Name</p>
                                <p class="text-sm text-gray-600">Last message</p>
                            </div>
                        </div>
                        <div class="flex items-center space-x-4 mb-3 relative">
                            <!-- Profile image with online status indicator -->
                            <div class="relative">
                                <img src="../../../public/image/01.jpg" alt="Contact" class="w-12 h-12 rounded-full">
                                <!-- Online status indicator -->
                                <div
                                    class="absolute bottom-0 right-0 rounded-full bg-green-500 border-2 border-white w-4 h-4">
                                </div>
                            </div>

                            <div>
                                <p class="font-bold">Contact Name</p>
                                <p class="text-sm text-gray-600">Last message</p>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- Chat area -->
                <div class="flex-1 bg-white overflow-y-auto" style="max-height: calc(80vh - 4rem);">
                    <!-- Chat header -->
                    <div class="border-b p-4">
                        <div class="flex items-center">
                            <img src="../../../public/image/01.jpg" alt="Contact" class="w-12 h-12 rounded-full">
                            <div>
                                <p class="font-bold">Contact Name</p>
                                <p class="text-sm text-gray-600">Active now</p>
                            </div>
                        </div>
                    </div>

                    <!-- Messages area -->
                    <div class="flex-1 overflow-y-auto p-4">
                        <!-- Incoming message -->
                        <div class="flex items-start mb-4 relative">
                            <!-- Profile image with online status indicator -->
                            <div class="relative">
                                <img src="../../../public/image/01.jpg" alt="Contact" class="w-8 h-8 rounded-full">
                                <!-- Online status indicator -->
                                <div
                                    class="absolute bottom-0 right-0 rounded-full bg-green-500 border-2 border-white w-3 h-3">
                                </div>
                            </div>

                            <div class="bg-gray-200 rounded-lg py-2 px-4 ml-2">
                                <p class="text-sm">Hey there!</p>
                                <span class="text-xs text-gray-500">10:00 AM</span>
                            </div>
                        </div>

                        <!-- Outgoing message -->
                        <div class="flex items-end justify-end mb-4">
                            <div class="bg-blue-500 text-white rounded-lg py-2 px-4">
                                <p class="text-sm">Hi! How can I help you?</p>
                                <span class="text-xs text-white">10:05 AM</span>
                            </div>
                            <!-- Profile image with online status indicator -->
                            <div class="relative">
                                <img src="../../../public/image/01.jpg" alt="Profile"
                                    class="w-8 h-8 rounded-full border-2 border-white">
                                <!-- Online status indicator -->
                                <div
                                    class="absolute bottom-0 right-0 rounded-full bg-green-500 border-2 border-white w-3 h-3">
                                </div>
                            </div>
                        </div>

                        <!-- More messages... -->
                    </div>

                    <!-- Message input -->
                    <div class="border-t p-4 flex items-center">
                        <input type="text" placeholder="Type a message"
                            class="flex-1 py-2 px-4 rounded-full border border-gray-300 focus:outline-none focus:border-blue-500">
                        <button class="bg-blue-500 text-white rounded-full p-2 ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>

                        </button>
                    </div>
                </div>
            </div>



        </div>
    </AppLayout>
</template>
